.sidebar{
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 15px;
margin: 40px;
padding: 20px;
display: flex;
flex-direction: column;
}
.sidebar img{
  width: 100%;
  border-radius: 50%;
  height: 180px;
  margin: 20px auto;

}
.sidebar p{
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 20px auto;
}
.sidebar h5{
  text-align: center;
  font-size: 22px;
  color: #555;
  margin: 10px auto;
  font-weight: bold;}
  .sidebar hr{
    border: 3;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
  }
