<div class="postlist">
  <div class="post">
    <div class="post_image">
      <img
        src="https://images.pexels.com/photos/28771409/pexels-photo-28771409.jpeg"
        alt=""
      />
    </div>
    <div class="post_details">
      <h3>POst title</h3>
      <span>12-12-2020</span>
      <p>Post description</p>
    </div>
  </div>
</div>

<div class="postlist">
  <div class="post">
    <div class="post_image">
      <img
        src="https://images.pexels.com/photos/28771409/pexels-photo-28771409.jpeg"
        alt=""
      />
    </div>
    <div class="post_details">
      <h3>POst title</h3>
      <span>12-12-2020</span>
      <p>Post description</p>
    </div>
  </div>
</div>

<div class="postlist">
  <div class="post">
    <div class="post_image">
      <img
        src="https://images.pexels.com/photos/28771409/pexels-photo-28771409.jpeg"
        alt=""
      />
    </div>
    <div class="post_details">
      <h3>POst title</h3>
      <span>12-12-2020</span>
      <p>Post description</p>
    </div>
  </div>
</div>

<div class="postlist">
  <div class="post">
    <div class="post_image">
      <img
        src="https://images.pexels.com/photos/28771409/pexels-photo-28771409.jpeg"
        alt=""
      />
    </div>
    <div class="post_details">
      <h3>POst title</h3>
      <span>12-12-2020</span>
      <p>Post description</p>
    </div>
  </div>
</div>

<div class="postlist">
  <div class="post">
    <div class="post_image">
      <img
        src="https://images.pexels.com/photos/28771409/pexels-photo-28771409.jpeg"
        alt=""
      />
    </div>
    <div class="post_details">
      <h3>POst title</h3>
      <span>12-12-2020</span>
      <p>Post description</p>
    </div>
  </div>
</div>
