.post{
  display: flex;
  gap: 10px;
  background-color: white;
  margin: 20px auto;
}
.post_image{
  width: 200px;

}

.post_image img{
  width: 100%;

}

.postlist{
  padding: 20px ;
  width: 700px;
}
.post_details{
  padding:20px ;

}
